@page "/order"
@inject BlazorCommerce.UseCases.SearchProduct.IOrderView orderView
@inject BlazorCommerce.UseCases.SearchProduct.SessionState state

<h3>Order</h3>

@if (ordersList != null)
{
    <table class="table table-success">
        <tr>
            <td>Product Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
        </tr>
        @foreach (var or in ordersList)
        {
            <tr>
                <td>@or.Product.Name</td>
                <td>@or.Product.Price</td>
                <td>@or.Quantity</td>
                <td>@or.Total</td>
            </tr>
        }
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td>@total</td>
    </tr>
    </table>
}
else
{
    <h2>No products at the basket</h2>
}

@code {

    IEnumerable<Order> ordersList;
    public double total = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ordersList = state.orders;

        if (ordersList != null)
        {
            total = ordersList.Sum(x => x.Product.Price);
        }
    }
}
