@page "/updateProduct/{productId}"

<section style="width:600px; margin: 0 auto;">
    <EditForm Model="_product" OnValidSubmit="Update">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudItem lg="4" md="6" sm="12">
                    <img width="300" src="@_product.ImageUrl" alt="@_product.Name" />
                </MudItem>
                <MudTextField Label="Product Name" @bind-Value="_product.Name"
                              For="@(() => _product.Name)" />
                <MudTextField Label="Supplier" @bind-Value="_product.Supplier"
                              For="@(() => _product.Supplier)" />
                <MudTextField Label="Price" @bind-Value="_product.Price" HelperText="Between 5 and 1000"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.AttachMoney"
                              InputType="InputType.Number" For="@(() => _product.Price)" />
                <MudDatePicker Label="Manufacture date" @bind-Date="_date" />
                <br />
                <BlazorMaterialUi.Components.ImageUpload OnChange="SetImgUrl" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                           Class="ml-auto">Update Product</MudButton>                
            </MudCardActions>
            <MudCardActions>
                @if (_product.Declaration == null)
                {
                    <MudItem lg="12" md="12" sm="12">
                        <MudLink Href="@($"createDeclaration/{_product.Id}")">
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                                       Class="ml-auto">Create Declaration</MudButton>
                        </MudLink>
                    </MudItem>
                }
                else
                {
                    <MudItem lg="6" md="6" sm="6">
                        <MudLink Href="@($"updateDeclaration/{_product.Declaration.Id}")">
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                                       Class="ml-auto">Update Declaration</MudButton>
                        </MudLink>
                    </MudItem>
                    <MudItem lg="6" md="6" sm="6">
                            <MudButton ButtonType="ButtonType.Reset" Variant="Variant.Filled" Color="Color.Error"
                                       Class="ml-auto" OnClick="ExecuteDeleteDeclarationAsync" >Delete Declaration</MudButton>                        
                    </MudItem>                    
                }
            </MudCardActions>
        </MudCard>
    </EditForm>
</section>