@page "/Details/{id}"

@inject ISuggestionData suggestionData
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject IStatusData statusData

<h1 class="page-heading text-uppercase mb-4">Suggestion Details</h1>

<div class="row justify-content-center detail-form">
    <div class="col-xl-8 col-lg-10 form-layout">
        @if (suggestion is not null)
        {
            <div class="row suggestion-detail-row">
                <div class="col-11 suggestion-detail">
                    <div>
                        <div class="@GetVoteClass()" @onclick="(() => VoteUp())">
                            <div class="text-uppercase">@GetUpvoteTopText()</div>
                            <span class="oi oi-caret-top detail-upvote"></span>
                            <div class="text-uppercase">@GetUpvoteBottomText()</div>
                        </div>
                    </div>                    
                    <div class="suggestion-detail-text">
                        <div class="fw-bold mb-2 suggestion-detail-suggestion">@suggestion.Suggestion</div>
                        <div class="mb-2 suggestion-detail-author">@suggestion.Author.DisplayName</div>
                        <div class="mb-2">@suggestion.Description</div>
                        <div class="suggestion-entry-text-category">
                            @suggestion.Category.CategoryName
                        </div>
                    </div>
                </div>
                <div class="col-1 close-button-section">
                    <button class="btn btn-close" @onclick="Closepage"></button>
                </div>
            </div>            
        }
    </div>
</div>

@if (suggestion?.SuggestionStatus is not null)
{
    <div class="row justify-content-center detail-form">
        <div class="col-xl-8 col-lg-10 suggestion-results form-layout">
            <div class="@GetStatusClass()"></div>
            <div class="suggestion-detail-status-section">
                <div class="suggestion-detail-status fw-bold mb-2 suggestion-detail-suggestion">
                    @suggestion.SuggestionStatus.StatusName
                </div>
                <div class="suggestion-detail-owner-notes">
                    @((MarkupString)suggestion.OwnerNotes)
                </div>
            </div>
        </div>
    </div>
}

@if (suggestion is not null)
{
    <AuthorizeView Policy="Admin">
        <div class="row justify-content-center detail-form">
            <div class="col-xl-8 col-lg-10 form-layout admin-details">
                <div>
                    <div class="suggestion-detail-status fw-bold mb-2 suggestion-detail-suggestion">
                        Set Status
                    </div>
                    @if (string.IsNullOrWhiteSpace(settingStatus))
                    {
                        <div class="admin-set-statuses">
                            <button @onclick="@(() => settingStatus = "completed")" class="btn suggestion-entry-text-category btn_archive btn-status-completed">completed</button>
                            <button @onclick="@(() => settingStatus = "watching")" class="btn suggestion-entry-text-category btn_archive btn-status-watching">watching</button>
                            <button @onclick="@(() => settingStatus = "upcoming")" class="btn suggestion-entry-text-category btn_archive btn-status-upcoming">upcoming</button>
                            <button @onclick="@(() => settingStatus = "dismissed")" class="btn suggestion-entry-text-category btn_archive btn-status-dismissed">dismissed</button>
                        </div>
                    }
                    else if(settingStatus == "completed")
                    {
                        <div>
                            <input @bind="urlText" class="form-control rounded-control" type="text" placeholder="Url" aria-label="Content URL">
                        </div>
                        <div class="suggestion-entry-bottom">
                            <button class="btn btn-archive btn-archive-confirm" @onclick="CompleteSetStatus">confirm</button>
                            <button class="btn btn-archive btn-archive-reject" @onclick="(() => settingStatus = null)">cancel</button>
                        </div>

                    }
                    else
                    {
                        <div class="suggestion-entry-bottom">
                            <button class="btn btn-archive btn-archive-confirm" @onclick="CompleteSetStatus">confirm</button>
                            <button class="btn btn-archive btn-archive-reject" @onclick="(() => settingStatus = null)">cancel</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </AuthorizeView>
}


